.txt-black {
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: #00BD56;
    font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    font-weight: bold;
    color: #00BD56;
}